In [2]:
#! pip install emoji

In [13]:
import emoji
import pandas as pd
import numpy as np

In [49]:
# emoji.EMOJI_UNICODE

In [7]:
emoji_dict = {      "0": "\u2764\uFE0F",    
                    "1": ":baseball:",
                    "2": ":beaming_face_with_smiling_eyes:",
                    "3": ":downcast_face_with_sweat:",
                    "4": ":fork_and_knife:",
                   }

In [12]:
for e in emoji_dict.values():
    print(emoji.emojize(e))

‚ù§Ô∏è
‚öæ
üòÅ
üòì
üç¥

## Read Data

In [137]:
train_data = pd.read_csv("train_emoji.csv", header=None)
test_data =  pd.read_csv("test_emoji.csv", header=None)

In [138]:
train_data.head()

                                 0  1   2     3
0           never talk to me again  3 NaN   NaN
1  I am proud of your achievements  2 NaN   NaN
2   It is the worst day in my life  3 NaN   NaN
3                 Miss you so much  0 NaN   [0]
4                     food is life  4 NaN   NaN

In [139]:
train_data.drop(columns=[2, 3], inplace=True)

In [140]:
train_data.columns = ["Text", 'Label']

In [141]:
test_data.columns = ['Text', 'Label']

In [142]:
train_data.head()

                              Text  Label
0           never talk to me again      3
1  I am proud of your achievements      2
2   It is the worst day in my life      3
3                 Miss you so much      0
4                     food is life      4

In [143]:
x_train = train_data['Text'].values
y_train = train_data['Label'].values

x_test = test_data['Text'].values
y_test = test_data['Label'].values

In [144]:
y_train

array([3, 2, 3, 0, 4, 0, 3, 2, 3, 1, 3, 3, 1, 3, 2, 3, 2, 3, 1, 2, 3, 0,
       2, 2, 2, 1, 4, 2, 2, 4, 0, 3, 4, 2, 0, 3, 2, 2, 3, 4, 2, 2, 0, 2,
       3, 0, 3, 2, 4, 3, 0, 3, 3, 3, 4, 2, 1, 1, 1, 2, 3, 1, 0, 0, 0, 3,
       4, 4, 2, 2, 1, 2, 0, 3, 2, 2, 0, 0, 3, 1, 2, 1, 2, 2, 4, 3, 3, 2,
       4, 0, 0, 0, 3, 3, 3, 2, 0, 1, 2, 3, 0, 2, 2, 2, 3, 2, 2, 2, 4, 1,
       1, 3, 3, 4, 1, 2, 1, 1, 3, 1, 0, 4, 0, 3, 3, 4, 4, 1, 4, 3, 0, 2])

In [145]:
x_train.shape

(132,)

In [146]:
x_test.shape

(56,)

In [147]:
for i in range(19, 29):
    print(x_train[i], emoji.emojize(emoji_dict[str(y_train[i])]))

I will celebrate soon üòÅ
So sad you are not coming üòì
She is my dearest love ‚ù§Ô∏è
Good job üòÅ
It was funny lol üòÅ
candy is life  üòÅ
The chicago cubs won again ‚öæ
I am hungry üç¥
I am so excited to see you after so long üòÅ
you did well on you exam üòÅ

# Get Embedding

In [85]:
f = open("glove.6B.50d.txt")

In [86]:
embedding_index = {}

for line in f:
    values = line.split()
    word = values[0]
    emb = np.array(values[1:], dtype ='float')
    
    embedding_index[word] = emb

In [87]:
embedding_index['america']
embedding_index['apple'].shape

(50,)

In [148]:
def get_embedding_output(X):
    maxLen = 10
    embedding_output = np.zeros((len(X), maxLen, 50))
    
    for ix in range(X.shape[0]):
        X[ix] = X[ix].split()
        
        for ij in range(len(X[ix])):
            embedding_output[ix][ij] = embedding_index[X[ix][ij].lower()]
            
    return embedding_output

In [149]:
train_embeddings = get_embedding_output(x_train)

In [150]:
test_embeddings = get_embedding_output(x_test)

In [151]:
train_embeddings.shape

(132, 10, 50)

In [152]:
test_embeddings.shape

(56, 10, 50)

In [113]:
from keras.utils import to_categorical

In [153]:
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [154]:
y_train.shape

(132, 5)

In [155]:
train_embeddings.shape

(132, 10, 50)