In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.preprocessing import LabelEncoder

In [3]:
data = pd.read_csv("NationalNames.csv")

In [4]:
data.head()

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [5]:
data.shape

(1825433, 5)

In [7]:
data['Name'].nunique()

93889

In [13]:
le = LabelEncoder()
data['Gender']  = le.fit_transform(data['Gender'])

In [15]:
data.head()

   Id       Name  Year  Gender  Count
0   1       Mary  1880       0   7065
1   2       Anna  1880       0   2604
2   3       Emma  1880       0   2003
3   4  Elizabeth  1880       0   1939
4   5     Minnie  1880       0   1746

In [20]:
df = data.groupby('Name').mean()[['Gender']].reset_index()

In [24]:
df['Gender'] =  df['Gender'].astype('int')

In [26]:
df.head()

        Name  Gender
0      Aaban       1
1      Aabha       0
2      Aabid       1
3  Aabriella       0
4      Aadam       1

In [27]:
import string

In [31]:
letters = list(string.ascii_lowercase)

In [35]:
vocab = dict(zip(letters, range(1, 27)))

In [43]:
rev_dic = dict(zip( range(1, 27), letters))

In [47]:
name = "Aabriella".lower()

In [51]:
seq = [vocab[i] for i in name]

In [52]:
seq

[1, 1, 2, 18, 9, 5, 12, 12, 1]

In [53]:
X = []
for name in df['Name'].values:
    name = name.lower()
    seq = [vocab[i] for i in name]
    X.append(seq)

In [55]:
y = df.Gender.values

In [64]:
from keras.preprocessing.sequence import pad_sequences

In [65]:
X = pad_sequences(X, maxlen=10, padding='pre')

In [67]:
X.shape

(93889, 10)

In [68]:
y.shape

(93889,)

In [69]:
from keras.layers import *
from keras.models import Model

In [70]:
len(vocab)

26

In [81]:
inp = Input(shape=(10,))
emb = Embedding(input_dim=27, output_dim = 5)(inp)
rnn = SimpleRNN(units=32)(emb)
out = Dense(units=1, activation='sigmoid')(rnn)

In [82]:
model = Model(inputs = inp, outputs = out)

In [83]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         (None, 10)                0
_________________________________________________________________
embedding_4 (Embedding)      (None, 10, 5)             135
_________________________________________________________________
simple_rnn_4 (SimpleRNN)     (None, 32)                1216
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 33
=================================================================
Total params: 1,384
Trainable params: 1,384
Non-trainable params: 0
_________________________________________________________________

In [84]:
model.compile(optimizer='adam', loss="binary_crossentropy", metrics = ['accuracy'])

In [85]:
hist = model.fit(X, y, epochs=10, batch_size=1024, validation_split=0.2)

Train on 75111 samples, validate on 18778 samples
Epoch 1/10
75111/75111 [==============================] - 3s 40us/step - loss: 0.6061 - acc: 0.6800 - val_loss: 0.5366 - val_acc: 0.7200
Epoch 2/10
75111/75111 [==============================] - 2s 29us/step - loss: 0.4884 - acc: 0.7559 - val_loss: 0.4292 - val_acc: 0.7975
Epoch 3/10
75111/75111 [==============================] - 2s 24us/step - loss: 0.4170 - acc: 0.8036 - val_loss: 0.3972 - val_acc: 0.8209
Epoch 4/10
75111/75111 [==============================] - 2s 29us/step - loss: 0.3967 - acc: 0.8161 - val_loss: 0.3942 - val_acc: 0.8190
Epoch 5/10
75111/75111 [==============================] - 2s 29us/step - loss: 0.3921 - acc: 0.8192 - val_loss: 0.3898 - val_acc: 0.8220
Epoch 6/10
75111/75111 [==============================] - 2s 23us/step - loss: 0.3899 - acc: 0.8206 - val_loss: 0.3933 - val_acc: 0.8183
Epoch 7/10
75111/75111 [==============================] - 2s 28us/step - loss: 0.3900 - acc: 0.8191 - val_loss: 0.3865 - val_acc: 0.8264
Epoch 8/10
75111/75111 [==============================] - 2s 27us/step - loss: 0.3888 - acc: 0.8214 - val_loss: 0.3866 - val_acc: 0.8260
Epoch 9/10
75111/75111 [==============================] - 2s 27us/step - loss: 0.3881 - acc: 0.8202 - val_loss: 0.3882 - val_acc: 0.8239
Epoch 10/10
75111/75111 [==============================] - 2s 25us/step - loss: 0.3882 - acc: 0.8213 - val_loss: 0.3869 - val_acc: 0.8245

In [143]:
name = "Arti".lower()

In [144]:
seq = [vocab[i] for i in name]

In [145]:
x_test = pad_sequences([seq], maxlen=10)

In [146]:
x_test

array([[ 0,  0,  0,  0,  0,  0,  1, 18, 20,  9]], dtype=int32)

In [147]:
model.predict(x_test)

array([[0.16935366]], dtype=float32)